NODE_ENV=dev
DATABASE_URL="file:./prisma/dev.db"
PORT=
HOST=

# AI Providers
OPENROUTER_API_KEY=""
GROQ_API_KEY=""
CEREBRAS_API_KEY=""
GEMINI_API_KEY=""

# JWT Secrets
JWT_SECRET=""
JWT_REFRESH_SECRET=""

# SMTP
SMTP_HOST=""
SMTP_PORT=""
SMTP_SECURE=""
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=''

# Frontend
FRONTEND_URL="http://localhost:3001"
COOKIE_DOMAIN=""